.card {
    background: #f3f4f6;
    border-radius: 12px;
    padding: 12px 16px 0px 12px;
    margin-bottom: 12px;
    position: relative;

    .card-top {
        /* Flexboxモードに切替 */
        display: flex;
        /* アイテムを横に並べる（デフォルト） */
        flex-direction: row;
        /* 横方向の位置揃え: 左寄せ/中央/右寄せ */
        justify-content: center;
        /* 縦方向の位置揃え */
        align-items: center;
        /* アイテム間の隙間 */
        gap: 10px;

        .text-section {
            width: 95%;

            .sentence {
                font-weight: bold;
            }

            .note {
                color: #6db8bb;
                font-style: italic;
                margin-top: 4px;
            }
        }

        .ui-section {
            width: 5%;

            .edit-btn {
                position: absolute;
                right: 10px;
                top: 10px;
                background: transparent;
                border: none;
                color: #888;
                cursor: pointer;
                font-size: large;
            }
        }

        .edit-btn:hover {
            color: darkgreen;
        }
    }

    .card-bottom {
        text-align: right;
        border: 1px solid #e5e7eb;
    }
}
