:root {
    --card-bg: #f3f4f6;
    --card-grad: #e4e1ee;
}

.card {
    background: var(--card-bg);
    border-radius: 12px;
    padding: 0px;
    margin-bottom: 12px;
    position: relative;

    .card-top {
        /* Flexboxモードに切替 */
        display: flex;
        /* アイテムを横に並べる（デフォルト） */
        flex-direction: row;
        /* 横方向の位置揃え: 左寄せ/中央/右寄せ */
        justify-content: center;
        /* 縦方向の位置揃え */
        align-items: center;
        /* アイテム間の隙間 */
        gap: 10px;

        padding: 12px 16px 0px 16px;

        .text-section {
            width: 95%;

            .sentence {
                font-weight: bold;
            }

            .note {
                color: #6db8bb;
                font-style: italic;
                margin-top: 4px;
            }
        }

        .ui-section {
            width: 5%;

            .edit-btn {
                position: absolute;
                right: 10px;
                top: 10px;
                background: transparent;
                border: none;
                color: #888;
                cursor: pointer;
                font-size: large;
            }
        }

        .edit-btn:hover {
            color: darkgreen;
        }
    }

    .card-bottom {
        text-align: right;
        padding: 0px 0px 0px 16px;
        border-radius: 0px 0px 0px 12px;
        background-image: linear-gradient(var(--card-bg), var(--card-grad));

        .move-up,
        .move-down {
            border-width: 1px;
            border-color: #f1e5e5;
            padding: 4px;
            background-color: transparent;
            font-size: 14px;
            transition: all 0.2s ease;
            min-width: 52px;
        }

        /* 上矢印 */
        .move-up::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-top: 2px solid #4b5563;
            border-right: 2px solid #4b5563;
            transform: rotate(-45deg);
            /* 上向き */
        }

        /* 下矢印 */
        .move-down::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-top: 2px solid #4b5563;
            border-right: 2px solid #4b5563;
            transform: rotate(135deg);
            /* 下向き */
        }
    }
}
